:host {
  display: block;
  position: relative;

  .expand-ttl {
    display: none;
  }

  .expand-title {
    display: block;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    .title {
      display: inline-block;
      font-family: system-ui, "Sans Serif";
      font-size: 1.2rem;
      line-height: 1.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 90%;
      height: auto;
    }

    .arrow {
      display: inline-block;
      margin: auto;
      color: #a15a57;
      font-size: 1.3em;
      text-align: center;
      vertical-align: super;

      &:before {
        font-size: 1.3rem;
        margin-right: 5px;
        text-shadow: -1px 1px 2px #999;
        content: '↘';
        transition: all 1s ease;
        display: inline-block;
      }
    }

    &[data-expanded='1'] .title {
      color: #506988;
    }

    &[data-expanded='1'] .arrow:before {
      transform: rotateX(3.14rad);
      vertical-align: text-bottom;
    }

    &[data-expanded='0'] + .expand-content {
      overflow: hidden;
      max-height: 0;
      padding: 0;
      opacity: 0;
      margin: 0;
      transition: all 1s ease;
    }

    &[data-expanded='0'] + .expand-content.preview {
      max-height: 80px;
      opacity: 1;
      mask-image: linear-gradient(#000, transparent);
      cursor: pointer;
    }

    &[data-expanded='1'] + .expand-content {
      max-height: 50vh;
      max-width: 100%;
      overflow-y: auto;
      transition: all 1s ease;
      border: 1px dashed #ccc;
      padding: 12px;
      margin: auto auto 0.7em auto;
      cursor: default;

      [data-open-from-id], [data-collapse-all], [data-expand-all] {
        color: #557492;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .expand-title .title:hover {
      color: #506988;
    }

    [data-open-from-id]:hover,
    [data-collapse-all]:hover,
    [data-expand-all]:hover {
      text-decoration: underline;
    }

    .expand-title .arrow:hover:after,
    .expand-title .title:hover:before {
      color: #000;
      font-weight: normal;
      font-size: 10pt;
      line-height: 1rem;
      background-color: white;
      position: absolute;
      margin: 0.2em auto auto -0.2em;
      border: 1px solid #AAA;
      padding: 3px;
      z-index: 10;
      opacity: 0.9;
      box-shadow: 1px 1px 5px #999;
      white-space: nowrap;
    }

    .expand-title[data-expanded='0'] .arrow:hover:after,
    .expand-title[data-expanded='0'] .title:hover:before {
      content: 'click to expand';
    }

    .expand-title[data-expanded='1'] .arrow:hover:after,
    .expand-title[data-expanded='1'] .title:hover:before {
      content: 'click to collapse';
    }
  }
}