:host {
  display: block;

  @media (width <= 1024px) {
    width: 80vw;

    div.content {
      width: 100%;
    }

    button {
      margin-top: 0.2rem;

      &#copy {
        margin-left: 0;
      }
    }

    .entropyBox, #pass {
      width: 100% !important;
    }
  }

  div.p {
    margin-bottom: 0.6rem;
  }

  button {
    border: 2px solid #777;
    background-color: azure;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 10px;
    margin-left: 0.3em;
  }

  @media (hover: hover) and (pointer: fine) {
    button:hover {
      box-shadow: 2px 1px 8px #777;
      border-color: transparent;
    }
  }

  .content {
    margin: 0 auto;
    padding: 1rem 0;
  }

  .instruction {
    padding: 0.5rem;
    border: 1px solid #777;
  }

  .copyReport {
    color: red;
  }

  #pass {
    padding: 6px;
    border: 1px solid #999;
    color: #777;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 20rem;
  }

  .entropyBox {
    margin-top: 0.5rem;
    font: 15px/19px normal Verdana, sans-serif;
  }

  .hidden {
    display: none;
  }
}