:host {
  display: block;
  font: 14px/19px normal Verdana, sans-serif;

  @media (width <= 1024px) {
    width: 80vw;

    div.content {
      width: 100%;
    }

    button {
      margin-top: 0.2rem;

      &#copy {
        margin-left: 0;
      }
    }

    .entropyBox, #pass {
      width: 100% !important;
    }
  }

  button[data-language] {
    vertical-align: top;
    background-size: 36px;
    padding: 18px;
    border: none;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    float: right;
  }

  button[data-language='EN'] {
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22flag-icons-gb%22%20viewBox%3D%220%200%20640%20480%22%3E%3Cpath%20fill%3D%22%23012169%22%20d%3D%22M0%200h640v480H0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22m75%200%20244%20181L562%200h78v62L400%20241l240%20178v61h-80L320%20301%2081%20480H0v-60l239-178L0%2064V0h75z%22%2F%3E%3Cpath%20fill%3D%22%23C8102E%22%20d%3D%22m424%20281%20216%20159v40L369%20281h55zm-184%2020%206%2035L54%20480H0l240-179zM640%200v3L391%20191l2-44L590%200h50zM0%200l239%20176h-60L0%2042V0z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M241%200v480h160V0H241zM0%20160v160h640V160H0z%22%2F%3E%3Cpath%20fill%3D%22%23C8102E%22%20d%3D%22M0%20193v96h640v-96H0zM273%200v480h96V0h-96z%22%2F%3E%3C%2Fsvg%3E);
  }

  button[data-language='NL'] {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22flag-icons-nl%22%20viewBox%3D%220%200%20640%20480%22%3E%3Cpath%20fill%3D%22%2321468b%22%20d%3D%22M0%200h640v480H0z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h640v320H0z%22%2F%3E%3Cpath%20fill%3D%22%23ae1c28%22%20d%3D%22M0%200h640v160H0z%22%2F%3E%3C%2Fsvg%3E')
  }

  div.p {
    margin-bottom: 0.6rem;
  }

  ul {
    margin: 0.5rem 0 0 -1.5rem;
  }

  ul li {
    margin-top: 0.2rem;
    list-style: '✓ ';
    cursor: pointer;
    color: #4075a9;
  }

  ul li:hover {
    text-decoration: underline;
  }

  ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  button:not([data-language]) {
    border: 2px solid #777;
    background-color: azure;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 10px;
    margin-left: 0.3em;
  }

  @media (hover: hover) and (pointer: fine) {
    button:not([data-language]):hover {
      box-shadow: 2px 1px 8px #777;
      border-color: transparent;
    }
  }

  .content {
    margin: 0 auto;
    padding: 1rem 0;
  }

  .instruction {
    padding: 0.5rem;
    border: 1px solid #777;
  }

  .copyReport {
    color: red;
  }

  #pass {
    padding: 6px;
    border: 1px solid #999;
    color: #777;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 20rem;
  }

  .entropyBox {
    margin-top: 0.5rem;
  }

  .hidden {
    display: none;
  }
}